<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nemesiss.scheduler.change.chargescheduler">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>

    <permission
            android:name="nemesiss.scheduler.change.chargescheduler.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature"/>

    <application
            android:name=".Application.ChargerApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="54578a741b696e8e7cb913dd5a615296">
        </meta-data>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashNoWhiteScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="nemesiss.scheduler.change.chargescheduler.loginActivityAction"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SearchChargerActivity"
        android:theme="@style/SearchChargeMapStyle">
        </activity>
        <activity android:name=".SearchActivity">
        </activity>
        <activity android:name=".ReservationTypeSelectActivity">
        </activity>
        <activity android:name=".ProcessReservationActivity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".MyReservationActivity">
        </activity>
        <activity android:name=".TestFunctionActivity">
        </activity>

        <receiver android:name=".Notifications.JPushActionResultReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE"/>

                <category android:name="nemesiss.scheduler.change.chargescheduler"/>
            </intent-filter>
        </receiver>
        <!-- <receiver -->
        <!-- android:name=".Notifications.ScheduleMessageReceiver" -->
        <!-- android:exported="false" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt; -->
        <!-- <category android:name="nemesiss.scheduler.change.chargescheduler" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity android:name=".UserInfoActivity">
        </activity>
    </application>

</manifest>